
#------------------------------------------------------------------
# ex : imageRegistry={IP}:{PORT}
# ex : crioVersion={crio version}
# ex : k8sVersion={kubernetes version}
# ex : apiServer={kubernetes API server ip}
# ex : podSubnet={POD_IP_POOL}/{CIDR}
# ex : calicoVersion={calico plugin version}
#------------------------------------------------------------------
#------------------------------------------------------------------
# ex : imageRegistry=172.22.5.2:5000
# ex : crioVersion=1.17
# ex : k8sVersion=1.17.6
# ex : apiServer=172.21.7.2
# ex : podSubnet=10.244.0.0/16
# ex : calicoVersion=3.13
#------------------------------------------------------------------

#image registry
imageRegistry=172.22.5.2:5000

#crio
crioVersion=1.17

#kubernetes
k8sVersion=1.17.6
apiServer=172.22.5.2
podSubnet=10.244.0.0/16

#plugin
#If nothing is specified, the default version is installed.
calicoVersion=

